button {
  font-size: 110%;
}

fieldset {
  padding: 0.01em 0 0 0;
}

.channelTest {
  margin-left: 1em;
}

#clientConnectButton {
  font-size: 110%;
  float: left;
  margin-right: 1em;
}

#connectionPanel {
  padding: 1em;
}

#deviceName {
  font-family: monospace;
  font-size: 125%;
  float: left;
}

.knobLabel {
  margin-right: 0.8em;
}

.knobTextValue {
  width: 3.5em;
  text-align: right;
  font-family: monospace;
}

#logDisplay {
  color: #eee;
  background-color: #222;
  resize: none;
}

#OtaBootloadMode {
  float:left;
  font-size: 110%;
  margin-left: 2em;
  background-color: #ea5;
}

.panel {
  width: 26em;
  border:1px solid #bbb;
  margin: 0 1ex 1ex 0;
  padding: 1em;
  border-radius: 3pt;
  float:  left;
}

.panel button {
  padding: 4pt;
  margin-right: 0.3em;
}

.panel legend {
  font-size: 120%;
}

.panel table {
  margin-top: 1.5ex;
}

.panel-clear {
  clear: both;
}
